html {
  height: 100%;
}

h1 {
  font-family: 'Libre Baskerville',serif;
  font-size: 28px;
  font-weight: 200;
  margin: 0;
  line-height: 22px;
}

h2 {
  font-family: 'Libre Baskerville',serif;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  color: black;
  margin-left: 75px;
}

h2 a:link {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  text-decoration: underline;
  color: black;
}

h2 a:visited {
  text-decoration: underline;
  color: black;
}

h2 a:focus {
  text-decoration: underline;
  color: black;
}

h3 {
  font-family: 'Libre Baskerville',serif;
  font-size: 12px;
  font-weight: 200;
  margin: 0;
}

h4 {
  font-family: 'Open Sans', serif;
  font-size: 10px;
  font-weight: 200;
  margin: 0;
}

h5 {
  font-family: 'Libre Baskerville',serif;
  font-size: 15px;
  font-weight: 200;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 50px;
}

h6 {
    font-family: 'Libre Baskerville',serif;
    font-size: 28px;
    font-weight: 200;
    margin: 0;
    line-height: 22px;
}

body {
  background-image: url(images/bg.gif);
  background-repeat: repeat;
  margin: 0;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  justify-content: space-around;
}

.input button {
  margin: 1px;
  color: transparent;
  background-position: center;
  background-size: contain;
  border: 0;
  height: 215px;
  width: 215px;
}

.input .rock {
  background-image: url('./images/rock.png')

}

.input .scissors {
  background-image: url('./images/scissors.png')
}

.input .paper {
  background-image: url('./images/paper.png')
}

.output1 {
  font-style: italic;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.flourishlarge {
  background-image: url(images/flourishlarge.png);
  background-repeat: no-repeat;
  height: 51px;
  width: 375px;
}

.horrule {
  height: 5px;
  width: 702px;
  background-image: url(images/horrule.png);
  margin-bottom: 1px;
}

.horruleflipped {
  height: 5px;
  width: 702px;
  margin-bottom: 1px;
  margin-top: 1px;
  background-image: url(images/horrule.png);
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.outputcontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 12px;
}

.flourish2 {
  height: 15px;
  width: 54px;
  background: url(images/flourish.png) no-repeat;
  margin-left: 5px;
}

.flourish {
  background-image: url(images/flourish2.png);
  height: 15px;
  width: 54px;
  margin-right: 5px;
}

.footercontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.tiy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  margin-right: 15px;
  font-weight: 300;
  color: #000;
}

.tiy a:link {
  text-decoration: none;
  color: #000;
}

.tiy a:hover {
  text-decoration: underline;
  color: #000;
}

.tiy a:visited {
  text-decoration: underline;
  color: #000;
}

.hands {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.rock {
  margin-left: 5px;
  margin-right:5px;
}

.primaryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.logotype a {
  text-decoration: none;
  color: #000;
}

.logotype a:hover {
  text-decoration: underline;
  color: #000;
}

.logotype a:visited {
  text-decoration: none;
  color: #000;
}

.footercontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.flourishlarge {
  width: 375px;
  height: 50px;
  margin: 0;
}

.statuscontainer {
  width: 435px;
  height: 100px;
  background-color: white;
  border: black solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statuscontainerinternal {
  background-color: black;
  width: 100%;
  height: 95%;
  margin: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallphotos {
  height: 82px;
  width: 157px;
  background-image: url(images/rocksmall.png);
  margin-left: 7px;
}

.textstatus {
  text-align: center;
  font-family: 'Libre Baskerville',serif;
  font-size: 72px;
  font-style: italic;
  font-weight: 200;
  color: white;
  width: 100%;
}

.computerreturn {
    text-align: center;
    font-family: 'Libre Baskerville',serif;
    font-size: 20px;
    font-weight: 200;
    color: black;
    width: 100%;
    margin-top: 15px;
  }
